
@model Vidly.Models.Movie
@{
    ViewData["Title"] = "Random";
}

    <!-- Using object passed in -->
    <h1>@Model.Title</h1>


    <!--Using ViewData from controller -->
    <!-- <h1>@ViewData["Movie"]</h1> --> 

    <!-- Using ViewBag from controller -->
    <!-- <h1>@ViewBag.RandomMovie</h1> --> 

