@model IEnumerable<Vidly.Models.Customer>
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <h1>Customer/s Don't Exist :{</h1>
}

else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><h1>Customers</h1></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@customer.Name, "Details", "Customers", new{id = customer.Id}, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
