@model Vidly.ViewModels.CustomersViewModel
@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Customers.Count == 0)
{
    <h1>Customer Doesn't Exit :{</h1>
}

else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th><h1>Customers</h1></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td>
                        @customer.Name
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
